<% provide(:title, 'Home') %>
<div class = "content">
	<div class="center">
	  <h1><%=t :welcome %></h1>

	  <h2><%=t :hello_world %></h2>

	  <%= link_to t(:sign_up), '#', class: "btn btn-large btn-primary" %>
	</div>

	<p><%= flash[:notice] %></p>
</div>
